In [8]:
import numpy as np 
import pandas as pd 

df = pd.read_csv(r'C:\Users\Arun JH\Desktop\vaibhavi-proj\Email_ML\spam.csv', sep ='\t', encoding = 'latin1')
df.head()

                                            v1,v2,,,
0  ham,"Go until jurong point, crazy.. Available ...
1               ham,Ok lar... Joking wif u oni...,,,
2  spam,Free entry in 2 a wkly comp to win FA Cup...
3  ham,U dun say so early hor... U c already then...
4  ham,"Nah I don't think he goes to usf, he live...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   v1,v2,,,  5574 non-null   object
dtypes: object(1)
memory usage: 43.7+ KB